awscli==1.16.143
blinker==1.4
botocore==1.12.133
colorama==0.3.9
docutils==0.14
feedgenerator==1.9
invoke==1.2.0
Jinja2==2.10.1
jmespath==0.9.4
Markdown==3.1
MarkupSafe==1.1.1
pelican==4.0.1
pyasn1==0.4.5
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==3.13
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
smartypants==2.0.1
typogrify==2.0.7
Unidecode==1.0.23
urllib3==1.24.2
webassets==0.12.1
