        <!-- start article timeline -->

        {% for an_article in dates %}
            {% if an_article.url == article.url %}
                {% set index = loop.index0 %}
                {% if not loop.first %}
                    {% set next_article = dates[index-1] %}
                {% endif %}
                {% if not loop.last %}
                    {% set previous_article = dates[index+1] %}
                {% endif %}
                <nav>
                    <ul class="article_timeline">
                        {% if previous_article %}
                            {% set ptitle = previous_article.title %}
                            {% set pv_title = ptitle %}
                                {%if previous_article.subtitle %} 
                                    {% set pv_title = ptitle + " " +  "<small>" + previous_article.subtitle + "</small>" %}
                                    {% set ptitle = ptitle + " - " + previous_article.subtitle %}
                                {% endif %} 
                            <li class="previous_article">« <a href="{{ SITEURL }}/{{ previous_article.url }}" title="Previous: {{ ptitle|striptags|escape }}">{{ pv_title }}</a></li>
                        {% endif %}
                        {% if next_article %}
                            {% set ntitle = next_article.title %}
                            {% set nv_title = ntitle %}
                                {%if next_article.subtitle %} 
                                    {% set nv_title = ntitle + " " +  "<small>" + next_article.subtitle + "</small>" %}
                                    {% set ntitle = ntitle + " - " + next_article.subtitle %}
                                {% endif %} 
                            <li class="next_article"><a href="{{ SITEURL }}/{{ next_article.url }}" title="Next: {{ ntitlestriptags|escape }}">{{ nv_title }}</a> »</li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% endfor %}
        <!-- end article timeline -->
