{% extends "base.html" %}
{% block content %}
    <h1 class="categoryName page-header">
      {% block categoryName %}{% endblock %}
    </h1>
<section id="content">
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <div class="pure-g">
                    <div class="pure-u-md-3-8 pure-u-sm-1 pure-u-1">
                    {%  if article.link %}
                        <h2 class="article">
                            <a href="{{ article.link }}"><i class="fa fa-external-link"></i> {{ article.title }} (Link)</a>
                        </h2>
                        {% else %}
                        <h2 class="article"><a href="{{ SITEURL }}/{{ article.url }}">{% if article.image %}<i class="fa fa-photo"></i> {% endif %}{{ article.title }}</a></h2>
                        {% endif %}
                    </div>
                    <div class="pure-u-md-5-8 pure-u-sm-1 pure-u-1">
                        {% if article.thumbnail %}
                            {% if article.link %}
                                <div class="ail">
                                    <a href="{{ article.link }}"><img border=0 alt="{{ article.title }}" src="{{ article.thumbnail }}" {% if article.thumbnail_width %}width="{{ article.thumbnail_width }}"{% endif %} {% if article.thumbnail_height %}height="{{ article.thumbnail_height}}"{% endif %}></a>
                                </div>
                            {% else %}
                                <div class="ail"><a href="{{ SITEURL }}/{{ article.url }}"><img border=0 alt="{{ article.title }}" src="{{ article.thumbnail }}" {% if article.thumbnail_width %}width="{{ article.thumbnail_width }}"{% endif %} {% if article.thumbnail_height %}height="{{ article.thumbnail_height}}"{% endif %}></a></div>
                            {% endif %}
                        {% elif article.image %}
                            {% if article.link %}
                                <div class="ail">
                                    <a href="{{ article.link }}"><img alt="{{ article.title }}" src="{{ article.image }}"></a>
                                </div>
                            {% else %}
                                <div class="ail"><a href="{{ SITEURL }}/{{ article.url }}"><img alt="{{ article.title }}" src="{{ article.image }}"></a></div>
                            {% endif %}
                        {% endif %}

                          {% if article.sum %}
                            <div class="summary"><a href="{{ SITEURL }}/{{ article.url }}"><p>{{ article.sum }} <i>more...</i></p></a></div>
                          {% else %}
                            <div class="summary"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.summary}}</div>
                                <a href="{{ SITEURL }}/{{ article.url }}"><i>more...</i></a>
                          {% endif %}

                    </div>
                </div>

            </article>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
</section>
{% endblock content %}
