<!DOCTYPE html>
{% if USE_OPEN_GRAPH is not defined %}
    {% set USE_OPEN_GRAPH = True %}
{% endif %}
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}"{% if USE_OPEN_GRAPH %} prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml"{% endif %}>
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if 'liquid_tags.notebook' in PLUGINS %}
        {% include 'includes/liquid_tags_nb_header.html' %}
    {% endif %}

    {# Favicons are a touchy subject. For reasoning for the following code, see: http://stackoverflow.com/a/23851464/872397 #}
    {% if FAVICON %}
    <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon">
    {% endif %}
    {% if FAVICON_IE %}
    <!--[if IE]><link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON_IE }}"><![endif]-->
    {% endif %}
    {% if TOUCHICON %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ TOUCHICON }}">
    {% endif %}

    {% block canonical_rel %}{% endblock %}

    {% block meta %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endblock %}


    {% if FEED_ALL_ATOM %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}

    {% if FEED_ALL_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
              title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% if tag and TAG_FEED_ATOM %}
        <link href="{{ SITEURL }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} {{ tag }} ATOM Feed"/>
    {% endif %}

    {% if category and CATEGORY_FEED_ATOM %}
        <link href="{{ SITEURL }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} {{ category }} ATOM Feed"/>
    {% endif %}

    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet">

    <!-- <link href="{{ CDNURL }}/static/styles.css" rel="stylesheet"> -->
    <!-- AAA TMP <link href="{{ SITEURL }}/static/styles.css" rel="stylesheet"> -->
    <link href="/static/styles.css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="57x57" href="{{ CDNURL }}/static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ CDNURL }}/static/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ CDNURL }}/static/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ CDNURL }}/static/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ CDNURL }}/static/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ CDNURL }}/static/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ CDNURL }}/static/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ CDNURL }}/static/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ CDNURL }}/static/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ CDNURL }}/static/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ CDNURL }}/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ CDNURL }}/static/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ CDNURL }}/static/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ CDNURL }}/static/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ CDNURL }}/static/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

</head>
<body>

 <!-- <div class="title">{{ SITENAME }}</div> -->



<div class="mainContent">
    <div class="innerPageContainer">
      <div class="logoContainer heavyBottomBorder">
        <div class="titleInner"><a href="/">The Joy of Hack</a></div>
        <div class="cb"></div>
      </div>
      <div class="navInner">
          <div class="navItemInner"><a href="/about">About Me</a></div>
          <div class="navItemInner"><a href="/archives">Blog</a></div>
          <div class="navItemInner"><a href="/categories">Categories</a></div>
          <div class="navItemInner noRightBorder"><a href="/tags">Tags</a></div>
          <div class="cb"></div>
      </div>
    </div>
            {% block content %}
            {% endblock %}  

    <div>
      <div class="pure-g">
        <div class="pure-u-md-3-8 pure-u-1">
          <div class="footnote">&copy; 2019 Aijaz Ansari<br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">The Joy of Hack</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://aijaz.net" property="cc:attributionName" rel="cc:attributionURL">Aijaz Ansari</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</div>
        </div>
        <div class="pure-u-md-5-8 pure-u-1">
          <div class="footnote">Powered by <a href="http://getpelican.com">Pelican</a></div>
        </div>
      </div>
    </div>

</div>

</body>
</html>
