{% extends "baseIndex.html" %}

{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block content %}


<div class="pure-g indexSection">
  <div class="pure-u-md-1-3 pure-u-1">
  	<div class="indexCol indexHalf">
      <h1 class="page-header">Hello, world!</h1>
  	</div>
  </div>
  
  <div class="pure-u-md-2-3 pure-u-1">
  	<div class="indexCol indexHalf" id="content">
    <p>
      Welcome to my corner of the web. My name is Aijaz and I'm the developer and 
      designer behind the <a href="https://quranmemorizer.com">Qur'an Memorizer</a>
      iOS app, and am currently working as a Mobile Lead at
      <a href="https://business.gogoair.com/">Gogo Business Aviation</a>. 
      </p>
      <p>
      I'm also a community organizer and volunteer as head of security at my local mosque. In that capacity I also manage two additional blogs: <a href="https://masjiddefense.com">MasjidDefense</a> and <a href="https://thereluctantgunowner.com">The Reluctant Gun Owner</a>.
    </p>
  	</div>
  </div>
</div>


<div class="pure-g indexSection">
  <div class="pure-u-md-1-3 pure-u-1">
    <div class="indexColThin indexHalf">
      <h1 class="page-header">Recent Posts</h1>
    </div>
  </div>
  <div class="pure-u-md-2-3 pure-u-1">

{% set recent = articles if not all_articles else all_articles %}
{% for article in recent %}
  {% if loop.index <= 3 %}
  
    <div class="indexColThin indexHalf">
      <h2 class="article"><a href="{{ SITEURL }}/{{ article.url }}"><i class="fa fa-external-link"></i> {{ article.title }}</a></h2>
      <div>{{ article.locale_date }}</div>
      <p>
                          {% if article.link %}
                            <div class="summary"><a href="{{ article.link }}">{{ article.summary }}</a></div>
                          {% elif article.sum %}
                            <div class="summary"><a href="{{ SITEURL }}/{{ article.url }}"><p>{{ article.sum }} <i>more...</i></p></a></div>
                          {% else %}
                            <div class="summary"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.summary}}</a></div>
                                <a href="{{ SITEURL }}/{{ article.url }}"><i>more...</i></a>
                          {% endif %}
     </p>




                    



    </div>
  {% endif %}
{% endfor %}

  </div>
</div>



<div class="pure-g indexSection">
  <div class="pure-u-md-1-3 pure-u-1">
  	<div class="indexColThin indexHalf">
  	</div>
  </div>
  
  <div class="pure-u-md-2-3 pure-u-1">
  	<div class="indexColThin indexHalf">
  	</div>
  </div>
</div>





{% endblock %}
